<html ng-app='disFilms'>

<head>
    <meta charset="UTF-8">
    <title>Hello Disney List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-controller="MainController" class="container">
    <h1>Angular App with Disney Movies</h1> {{2+2}}
    <form ng-submit="makeFilm()">
        <div class="form-group">
            <label>Film Title: </label>
            <input type="text" ng-model="newFilm.title" class="form-control" placeholder="Title">
        </div>

        <button ng-click="mc.addItem($index)">Add Film</button>
        <button ng-click="mc.removeItem($index)">Remove Film</button>
    </form>

        {{film.title}}
     

    <script src="bower_components/angular/angular.js"></script>
    <script src="app/init.js"></script>
    <script src="app/controller/main-controller.js"></script>

</body>

</html>