<html ng-app='disFilms'>

<head>
    <meta charset="UTF-8">
    <title>Hello Disney List</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-controller="MainController" class="container">

    <h1>Angular App with Disney Movies</h1> {{2+2}}
    <ul>
        <li ng-repeat='film in films track by $index'>Film Name{{film.title}} Film Year{{film.year}}</li>
    </ul>
    <form>
        <div class="form-group">
            <label>Film Title: </label>
            <input type="text" ng-model="newFilm.title" class="form-control" placeholder="Title">
             <input type="text" ng-model="newFilm.year" class="form-control" placeholder="Year">
        </div>

        <button ng-click="addFilm(newFilm)">Add Film</button>
        <button ng-click="removeFilm($index)">Remove Film</button>
    </form>

    <script src="bower_components/angular/angular.js"></script>
    <script src="app/init.js"></script>
    <script src="app/controller/main-controller.js"></script>

</body>

</html>